@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#main-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-grid{
    display: grid;
    grid-template-rows: repeat(3, 164px);
    grid-template-columns: repeat(3, 164px);
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    height: 164px;
    width: 164px;
    border: 2px solid #000;
    font-weight: bold;
    font-size: 42px;
}
